{% extends 'base.html' %}

{% block content %}
<br>
<form method="post">
        <input type="submit" value="Return">
    </form>
<br>
    <div>

        {% for x in messages %}
        <h3>Carrier: {{ x }}</h3>
            {% for y in messages[x] %}
            <h3>Service: {{ y['qservice'] }}</h3>
            <h3>Code: {{ y['qcode'] }}</h3>
            <h3>Quote Charge: ${{ '%.2f' % y['qcharge'] }}</h3>
            <hr>
            {% endfor %}
        {% endfor %}
    </div>
<br>

<form method="post">
        <input type="submit" value="Return">
    </form>
{% endblock %}