{% extends 'base.html' %}

{% block content %}
<br>
<form method="post">
        <input type="submit" value="Return">
    </form>
<br>
    <div>

        {% for x in messages %}
        <h3>Carrier: {{ x }}</h3>
            {% for y in messages[x] %}
            <h4>Service: {{ y['qservice'] }}</h4>
            <h4>Code: {{ y['qcode'] }}</h4>
            <h4>Quote Charge: ${{ '%.2f' % y['qcharge'] }}</h4>
        <br>
            {% endfor %}
        <hr>
        {% endfor %}
    </div>
<br>

<form method="post">
        <input type="submit" value="Return">
    </form>
{% endblock %}