{% extends 'base.html' %}

{% block content %}
<br>
<form method="post">
        <input type="submit" value="Return">
    </form>
<br>
    <div>
    <table>
        <thead>
            <tr>
                <th>Carrier</th>
                <th>Service</th>
                <th>Code</th>
                <th>Quote Charge</th>
            </tr>
        </thead>
        <tbody>
            {% for x in messages %}
                {% for y in messages[x] %}
                <tr>
                    <td>{{ x }}</td>
                    <td>{{ y['qservice'] }}</td>
                    <td>{{ y['qcode'] }}</td>
                    <td>${{ '%.2f' % y['qcharge'] }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
<br>

<form method="post">
        <input type="submit" value="Return">
    </form>
{% endblock %}